name: Build

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      os:
        required: true
        type: string
      setupCommand:
        required: true
        type: string
      buildArgs:
        required: true
        type: string
      artifactName:
        required: true
        type: string
      artifactPath:
        required: true
        type: string

env:
  HAXE_VERSION: 4.3.2
  PROJECT_NAME: PsychEngine

jobs:
  build:
    name: Build
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: ${{ env.HAXE_VERSION }}

      - name: Install Libraries
        run: |
          haxelib git hmm https://github.com/TheFrost72/hmm.git --skip-dependencies --quiet
          haxelib run hmm install --quiet
      
      - name: Configure Android
        if: inputs.name == 'Android'
        run: |
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME_21_arm64
          haxelib run lime config ANDROID_SETUP true
          
      - name: Clean Lime
        if: inputs.name == 'Android'
        run: haxelib run lime clean android

      - name: Setup Android
        if: inputs.name == 'Android'
        run: |
          haxelib run lime setup android
          
      - name: Print build classpath
        run: |
          haxelib run lime build android -D haxelib=1

      - name: Compile
        if: inputs.name == 'Android'
        run: haxelib run lime build android ${{ inputs.buildArgs }}

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: ${{ inputs.artifactName }}
          path: ${{ inputs.artifactPath }}
          if-no-files-found: error
