name: Build

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      os:
        required: true
        type: string
      setupCommand:
        required: true
        type: string
      buildArgs:
        required: true
        type: string
      artifactName:
        required: true
        type: string
      artifactPath:
        required: true
        type: string

env:
  HAXE_VERSION: 4.3.2
  PROJECT_NAME: PsychEngine

jobs:
  build:
    name: Build
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: ${{ env.HAXE_VERSION }}

      - name: Install Libraries
        run: |
          haxelib git lime https://github.com/SatoruSam/lime
          haxelib run lime setup
          haxelib install linc_luajit
          haxelib install flixel-addons 3.2.2
          haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate
          haxelib git openfl https://github.com/SatoruSam/openfl
          haxelib install flixel 5.6.1
          haxelib git flixel-ui https://github.com/SatoruSam/flixel-ui
          haxelib git hxcpp https://github.com/SatoruSam/hxcpp
          haxelib git SScript https://github.com/SatoruSam/SScript
          haxelib install hxdiscord_rpc
          haxelib git hxluajit https://github.com/SatoruSam/hxluajit
          haxelib install hscript-iris 1.1.3
          haxelib git format https://github.com/SatoruSam/format
          haxelib git hxp https://github.com/SatoruSam/hxp
          haxelib git hxvlc https://github.com/SatoruSam/hxvlc

      - name: Configure Android
        if: inputs.name == 'Android'
        run: |
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME_21_arm64
          haxelib run lime config ANDROID_SETUP true

      - name: Compile
        if: inputs.name == 'Android'
        run: haxelib run lime build android ${{ inputs.buildArgs }} -D ${{ inputs.assetType }}

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: ${{ inputs.artifactName }}
          path: ${{ inputs.artifactPath }}
          if-no-files-found: error
