name: Build

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      os:
        required: true
        type: string
      setupCommand:
        required: true
        type: string
      buildArgs:
        required: true
        type: string
      artifactName:
        required: true
        type: string
      artifactPath:
        required: true
        type: string

env:
  HAXE_VERSION: 4.3.2
  PROJECT_NAME: NeuroEngine

jobs:
  build:
    name: Build
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: ${{ env.HAXE_VERSION }}

      - name: Install Libraries (run script)
        run: bash setup/build.sh

      # Ensure extension is registered (defensive in case script didn't)
      - name: Ensure extension-androidtools registered
        run: |
           HAXELIB_DIR="$HOME/haxelib"

           mkdir -p "$HAXELIB_DIR"

           if [ ! -d "$HAXELIB_DIR/extension-androidtools" ]; then
           git clone --depth 1 https://github.com/TheFrost72/extension-androidtools "$HAXELIB_DIR/extension-androidtools"
           fi

           realpath "$HAXELIB_DIR/extension-androidtools" > "$HAXELIB_DIR/extension-androidtools/.current"
           
      - name: Configure Android
        if: ${{ inputs.name == 'Android' }}
        run: |
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME_21_arm64
          haxelib run lime config ANDROID_SETUP true

      - name: Compile
        if: ${{ inputs.name == 'Android' }}
        run: haxelib run lime build android -Dandroid-arch=armv7 ${{ inputs.buildArgs }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifactName }}
          path: ${{ inputs.artifactPath }}
          if-no-files-found: error
